<!--The content below is only a placeholder and can be replaced.-->
<form [formGroup]="form">
  <label for="dateDefault">Date default (dd/mm/yy)</label>
  <input type="text" id="dateDefault" name="dateDefault" formControlName="dateDefault">
  <input type="submit">
  <p *ngIf="form.controls.dateDefault.hasError('dateHighThanToday')" style="color: #F00;font-weight: bold; font-size: 0.85rem">Date can't be high than today</p>
  <p *ngIf="form.controls.dateDefault.hasError('invalidDateFormat')" style="color: #F00;font-weight: bold; font-size: 0.85rem">Invalid date format</p>
  <hr>

  <label for="dateWithCustomSeparator">Date with custom (,-.) separator (mm,-.yyyy,-.dd)</label>
  <input type="text" id="dateWithCustomSeparator" name="dateWithCustomSeparator" formControlName="dateWithCustomSeparator">
  <input type="submit">
  <p *ngIf="form.controls.dateWithCustomSeparator.hasError('dateHighThanToday')" style="color: #F00;font-weight: bold; font-size: 0.85rem">Date can't be high than today</p>
  <p *ngIf="form.controls.dateWithCustomSeparator.hasError('invalidDateFormat')" style="color: #F00;font-weight: bold; font-size: 0.85rem">Invalid date format</p>
  <hr>
</form>
